/********** Header **********/
.site-header {
    width: 100%;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 0;
}

@media (min-width: 1024px) {
    .header-wrap {
        padding: 1rem;
    }
}

.site-branding {
    display: flex;
    flex-direction: column;
}

.site-branding .site-title {
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2rem);
    font-weight: 700;
    text-transform: uppercase;
}

.site-branding .site-title a {
    text-decoration: none;
}

.site-branding .site-title a:hover {
    color: var(--color-primary-hover);
}

.site-branding .site-description {
    font-size: 0.8rem;
    font-weight: 400;
}

@media (min-width: 1024px) {
    .site-branding {
        min-width: 250px;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header_cta_link {
    display: none;
}

@media (min-width: 768px) {
    .header_cta_link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        color: #fff;
        border: 1px solid var(--color-primary);
        padding: 0.5rem 1rem;
        border-radius: .5rem;
        text-transform: uppercase;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
    }

    .header_cta_link:hover {
        background-color: #fff;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
    }
}


@media (min-width: 1024px) {
    .header_cta_link {
        min-width: 150px;
    }
}


/********** Footer **********/
.site-footer {
    width: 100%;
}

.footer-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .footer-wrap {
        padding: 0 1rem;
    }
}

.footer-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
}

.footer-menu a {
    color: var(--color-link-dark);
    text-decoration: none;
}


@media (min-width: 1024px) {
    .footer-menu {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.footer-list ul {
    list-style: none;
    padding: 0 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

.site-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color-border);
    padding-top: 1rem;
    color: var(--color-border);
    font-size: .875rem;
}

.site-info a {
    color: var(--color-border);
}


@media (min-width: 1024px) {
    .site-info {
        flex-direction: row;
        justify-content: space-between;
    }
}

/********** Sidebar **********/
.aside-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .aside-inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

.two-columns .aside-inner {
    grid-template-columns: 1fr;
}

/********** Page **********/
.error-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

p.not-found,
.not-found h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-secondary);
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    text-shadow: 0 2px 4px rgba(0, 96, 31, 0.5);
}

@media (min-width: 1024px) {

    p.not-found,
    .not-found h1 {
        font-size: 7rem;
    }
}



